<div class="card">
  <div class=" col-md-12  card card-inverse card-primary">
    <blockquote class="card-blockquote">
      <h4>{{title}}</h4>
    </blockquote>
  </div>
  <br><br>
  <div class="col-md-3" style="margin-left: 20px;">
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo</button>
  </div>

  <div class=" container row" style="margin-left: 20px;">
    <div class="col-md-3" >
      <div class="form-group row" style="width: 100%;">
        <label for="nombre" class=" col-form-label">Palabra Clave</label>
        <input class="form-control" type="text" id="nombre">
      </div>
    </div>
    <br>
    <div class="col-md-3">
      <div class="form-group row"style="width: 100%;">
        <label for="nombre" class=" col-form-label">Principio Activo</label>
        <input class="form-control" type="text" id="nombre">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group row"style="width: 100%;">
        <label for="nombre" class=" col-form-label">Laboratorio</label>
        <input class="form-control" type="text" id="nombre">
      </div>

    </div>
    <div class="col-md-2" style="padding-top: 30px;width: 100%;">
      <button class="btn btn-lg btn-outline-info" (click)="open(content)">Buscar</button>
    </div>
  </div>

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>N°</th>
            <th>Presentaci&oacute;n</th>
            <th>Laboratorio</th>
            <th>C&oacute;digo Barra</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2</th>
          <td>10[cajas]</td>
          <td>Bayer</td>
          <td>M343G</td>
        </tr>

      </tbody>
    </table>
  </div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>
